<form (keypress)="formKeyPress()"
      (submit)="formSubmit()">
    <input type="text"
           name="username"
           placeholder="Username"
           [(ngModel)]="loginForm.username">
    <button>Register</button>
</form>
<button (click)="doLogin()">Login</button>
<button (click)="getMe()">Get me</button>

<!--<form [formGroup]="profileForm"-->
<!--(keypress)="reactiveFormPress()">-->
<!--<input type="text"-->
<!--name="username"-->
<!--placeholder="Username"-->
<!--formControlName="username">-->
<!--<input type="text"-->
<!--name="password"-->
<!--placeholder="Password"-->
<!--formControlName="password">-->
<!--<button>Login</button>-->
<!--</form>-->