<form (keypress)="formKeyPress()">
    <input type="text"
           name="username"
           placeholder="Username"
           [(ngModel)]="loginForm.username">
</form>

<!--<form [formGroup]="profileForm"-->
<!--(keypress)="reactiveFormPress()">-->
<!--<input type="text"-->
<!--name="username"-->
<!--placeholder="Username"-->
<!--formControlName="username">-->
<!--<input type="text"-->
<!--name="password"-->
<!--placeholder="Password"-->
<!--formControlName="password">-->
<!--<button>Login</button>-->
<!--</form>-->