<div class="card">
    <div class="card-body pb-0">
        <form (keypress)="formKeyPress()"
              class="col-12"
              ngForm>
            <input type="text"
                   name="username"
                   placeholder="Username"
                   class="form-control text-center"
                   [(ngModel)]="loginForm.username">
        </form>
        <div class="row">
            <button class="btn btn-primary col-6"
                    (click)="doRegister()">
                Register
            </button>
            <button class="btn btn-primary col-6"
                    (click)="doLogin()">
                Login
            </button>
        </div>
    </div>
</div>