<div class="card">
  <div class="card-body pb-0">
    <div class="row">
      <form (submit)="sendTeleport()"
            ngForm
            class="col-12">
        <input name="x"
               class="form-control col-6 d-inline text-center"
               [(ngModel)]="teleport.x">
        <input name="y"
               class="form-control col-6 d-inline text-center"
               [(ngModel)]="teleport.y">
        <button class="btn btn-primary btn-block">Teleport</button>
      </form>
      <form (submit)="sendMove()"
            ngForm
            class="col-12">
        <input name="x"
               class="form-control d-inline col-6 text-center"
               [(ngModel)]="move.x">
        <input name="y"
               class="form-control d-inline  col-6 text-center"
               [(ngModel)]="move.y">
        <button class="btn btn-primary btn-block">Move</button>
      </form>
      <button (click)="sendCreate()" class="btn btn-primary btn-block col-12">Create Object</button>
    </div>
  </div>
</div>
