<!--The content below is only a placeholder and can be replaced.-->
<app-game-canvas></app-game-canvas>
<div class="row">
    <div class="col-4" style="max-height: 0">
        <app-game-object-list></app-game-object-list>
        <app-game-object-action>
        </app-game-object-action>
    </div>
    <div class="col-4" style="max-height: 0">

        <div style="text-align:center">
            <div>{{message}}</div>

        </div>
    </div>
    <div class="col-4" style="max-height: 0">
        <app-login>
        </app-login>
        <app-error>
        </app-error>
    </div>
</div>
