$card-spacer-y:                     .25rem !default;
$card-spacer-x:                     0.41rem !default;

$card-border-color:                 rgba($black, .125) !default;
$card-bg:                           $component-active-bg !default;
$card-color:                        $text-color !default